<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Books Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body class="text-center">

    <form class="form-signin" method='POST' action='/edit_user/{{user.id}}'>
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Edit your infomation</h1>

        <label for="first_name" class="sr-only">First name</label>
        <input name='first_name' type="text" id="inputFirstName" value={{user.first_name}} class="form-control"
            placeholder="First Name" required autofocus>

        <label for="last_name" class="sr-only">Last name</label>
        <input name='last_name' type="text" id="inputLastName" value={{user.last_name}} class="form-control"
            placeholder="Last Name" required autofocus>

        <label for="email" class="sr-only">Email adress</label>
        <input name='email' type="email" id="inputEmail" class="form-control" value={{user.email}}
            placeholder="Email address" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Edit your data</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
        <p>¿Quieres <a href="/edit_password/{{user.id}}"> cambiar </a> tu contraseña?</p>

    </form>